.card:hover img {
    transform: scale(1.02, 1.02);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card img {
      transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.member-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 1;
}

/* .card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: 1;
} */

.animate {
    transition: all 0.3s ease-in-out;
}
p {
    font-size: small;
}
/* button {
    border-radius: 50%;
    background-color: rgb(239, 233, 239);
    border-color:  rgb(184, 50, 61);
} */
.bi {
    font-size: 1.2rem;
}
button:hover {
    background-color: rgb(239, 233, 239);
    /* border-color:  rgb(184, 50, 61); */
    transform: scale(1.09);
    transition: 0.5s ease-in-out;
}

@keyframes fa-blink {
    0% {opacity: 1;}
    100% {opacity: 0.4;}
}

.is-online {
    animation: fa-blink 1.5s linear infinite;
    color: rgb(1, 189, 42);
}
