<div class="card mb-4">
  <div class="card-img-wrapper">
    <img
      src="{{ member().photoUrl || accountService.defaultImage }}"
      alt="{{ member().knownAs }}"
      class="card-img-top"
    />
  </div>
  <div class="card-body p-1 text-muted">
    @if (showButtons()) {
      <div class="d-flex g-2">
         <button routerLink="/members/{{ member().username }}" class="btn">
            <i class="bi bi-person-fill"></i>
          </button>
          <button (click)="toggleLike()" class="btn">
            @if (hasLiked()) {
              <i class="bi bi-heart-fill text-danger"></i>
            } @else {
              <i class="bi bi-heart-fill"></i>
            }
          </button>
           <button
            class="btn btn"
            routerLink="/members/{{ member().username }}"
            [queryParams]="{ tab: 'Messages' }"
          >
            <i class="bi bi-envelope-fill"></i>
          </button>
      </div>
    }
    <p class="card-title mb-1 px-2">
      <b>
        @if (isOnline()) {
          <span [class.is-online]="isOnline()">Online</span>
          <br />
        }
        <!-- @else {
        <span class="text-danger">Offline</span>
        } -->
        @if (member().gender.toLowerCase() === "female") {
          <i class="bi bi-person-standing-dress fs-5"></i>
        } @else {
          <i class="bi bi-person-standing fs-5"></i>
        }
        {{ member().knownAs }}, {{ member().age }} Yrs
        @if (hasLiked() && !showButtons()) {
          <i class="bi bi-heart-fill text-danger"></i>
        }
      </b>
    </p>
    <p class="card-text px-2">
      <i class="bi bi-geo-alt-fill"></i>
      {{ member().city }},{{ member().country }}
    </p>
  </div>
</div>
