<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12">
      <h5 class="text-center">❤️ Welcome to our Dating App</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h6>🌟 Why Choose Us?</h6>
      <ul>
        <li>
            <b>Easy to Use</b> – A clean and simple interface so you can focus on conversations, not complicated features.
        </li>
        <li>
            <b>Safe & Secure</b> – Your privacy matters. We make sure your data is protected and give you full control over your profile.
        </li>
        <li>
            <b>Real Connections</b> – Profiles are genuine, helping you find people who are serious about making a meaningful connection.
        </li>
      </ul>
      <h6>🚀 How It Works</h6>
      <ol>
        <li>
            <b>Sign up</b> and create your profile in just a few clicks.
        </li>
        <li>
            <b>Discover</b> matches tailored to your preferences.
        </li>
        <li>
            <b>Start chatting</b> and see where the connection takes you.
        </li>
      </ol>
    </div>
  </div>
</div>
