/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: rgb(241, 233, 233);
}
a, button {
  font-weight: bold !important;
  font-size: 0.8rem !important;
}
.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid rgba(34, 147, 159,0.4);
}

.member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid rgb(34, 147, 159);
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

/* Hover buttons */
.icon-with-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.icon-with-tooltip .tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  bottom: -150%; /* Position below icon */
  left: 100%;
  transform: translateX(-50%);
  white-space: nowrap;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon-with-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.bi {
    font-size: 1rem;
}
