
<div class="container-fluid">
  <!--Header row-->
  <app-heading>
    <span heading-title>{{ member.knownAs }}'s profile</span>
  </app-heading>
  <!--Main content-->
  <div class="row g-4">
    <div class="c col-xs-8 col-sm-8 col-md-8 col-lg-4 col-xl-4 order-1 order-lg-1">
      <div class="card">
        <!--Profile info-->
        <div class="card-body">
          <div class="row g-1">
            <div class="col-6 mt-2">
              <app-member-card [member]="member" />
            </div>
            <div class="col-6 mt-2">
              <div class="text-start">
                <p>
                  <span><b>Last Active</b></span
                  >: {{ member.lastActive | timeago }}
                </p>
                <p>
                  <span><b>Member since </b></span>:
                  {{ member.createdAt | date : "dd MMMM yyyy" }}
                </p>
              </div>
            </div>
            <!-- <div class="col-12">
              <div class="btn-group w-100 py-1">
                <button class="btn btn-primary">
                  @if(hasLiked()) {
                  <i class="bi bi-heart-fill text-danger"></i> Unlike }@else{
                  <i class="bi bi-heart-fill"></i> Like }
                </button>
                <button class="btn btn-success" (click)="selectTab('Messages')">
                  <i class="bi bi-envelope-fill"></i> Message
                </button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!---->
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 order-2 order-lg-2">
      <div class="card">
        <div class="card-body">
          <tabset class="member-tabset" #memberTabs>
            <tab heading="About {{ member.knownAs }}" (selectTab)="onTabActivated($event)">
              <h4>Description</h4>
              <p>{{ member.introduction }}</p>
              <h4>Looking for</h4>
              <p>{{ member.lookingFor }}</p>
            </tab>
            <tab heading="Interents" (selectTab)="onTabActivated($event)">
              <h4>Interents</h4>
              <p>{{ member.interests }}</p>
            </tab>
            <tab heading="Photos" #photoTab="tab" (selectTab)="onTabActivated($event)">
              @if (photoTab.active) {
              <gallery
                [items]="images"
                class="gallery"
                counter="true"
                itemAutosize="false"
              >
              </gallery>
              }
            </tab>
            <tab heading="Messages" (selectTab)="onTabActivated($event)">
              <app-member-messages 
                [username]="member.username" 
              />
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>

