<div class="container-fluid mb-2">
  <div class="row">
    <div class="col-12">
      <div class="btn-group">
        <button
          class="btn btn-primary"
          btnRadio="Unread"
          [(ngModel)]="container"
          (click)="loadMessages()"
        >
          Unread
        </button>
        <button
          class="btn btn-primary"
          btnRadio="Inbox"
          [(ngModel)]="container"
          (click)="loadMessages()"
        >
          Inbox
        </button>
        <button
          class="btn btn-primary"
          btnRadio="Outbox"
          [(ngModel)]="container"
          (click)="loadMessages()"
        >
          Outbox
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      @if (!messageService.paginatedResult()?.items || messageService.paginatedResult()?.items?.length === 0) {
      <h5>No messages</h5>
      }@else {
      <table class="table table-hover mt-3" style="cursor: pointer">
        <thead>
          <tr>
            <th style="max-width: 75%">Message</th>
            <th style="max-width: 10%">From / To</th>
            <th style="max-width: 10%">Sent / Received</th>
            <th style="max-width: 5%">Action</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          @for (message of messageService.paginatedResult()?.items; track
          message.id) {
            <tr routerLink="{{getRoute(message)}}" [queryParams]="{tab: 'Messages'}">
                <td>{{message.content}}</td>
                <td>
                    <div>
                        <img 
                            [src]="isOutbox
                            ? (message.recipientPhotoUrl || accountService.defaultImage)
                            : (message.senderPhotoUrl || accountService.defaultImage)"
                            alt=""
                            class="rounded-circle"
                        >
                        <b> {{isOutbox
                        ? message.recipientUsername : message.senderUsername}}</b>
                    </div>
                </td>
                <td>
                    {{message.messageSent | timeago}}
                </td>
                <td (click)="$event.stopPropagation()">
                    <button class="btn" (click)="deleteMessage(message.id)">
                      <i class="bi bi-trash3 text-danger"></i>
                    </button>
                </td>
            </tr>
          }
        </tbody>
      </table>
      }
    </div>
  </div>
   <!--Pagination-->
  @if (messageService.paginatedResult()?.pagination && messageService.paginatedResult()?.pagination?.totalItems! > 0 ) {
  <div class="row mt-4">
    <div class="col-12 d-flex justify-content-center">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="(messageService.paginatedResult()?.pagination)!.totalItems"
        [itemsPerPage]="
          (messageService.paginatedResult()?.pagination)!.itemsPerPage
        "
        (pageChanged)="pageChanged($event)"
        [(ngModel)]="messageService.paginatedResult()!.pagination!.currentPage"
        [maxSize]="10"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>
  </div>
  }
</div>
