<div class="container-fluid mb-0">
  <!--Header-->
  <div class="row">
    <div class="col-12 text-start mt-2">
      <h4>
        Matches found :
        <span class="text-success">
          {{ memberService.paginatedResult()?.pagination?.totalItems }}
        </span>
      </h4>
    </div>
  </div>
  <!--Filters section-->
  <form #form="ngForm" (submit)="loadMembers()">
    <!--Age and Gender Filters-->
    <div class="row g-1 mb-2">
      <!--Age From-->
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <label class="form-label">Age from:</label>
        <input
          type="number"
          class="form-control"
          style="width: 70px"
          name="minAge"
          [(ngModel)]="memberService.userParams().minAge"
        />
      </div>
      <!--Age To-->
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <label class="form-label">Age to:</label>
        <input
          type="number"
          class="form-control"
          style="width: 70px"
          name="maxAge"
          [(ngModel)]="memberService.userParams().maxAge"
        />
      </div>
      <!--Gender Select-->
      <div class="col-6 col-sm-4 col-md-4 col-lg-2">
        <label class="form-label">Show:</label>
        <select
          name="gender"
          class="form-select"
          style="width: 130px"
          [(ngModel)]="memberService.userParams().gender"
        >
          @for (gender of genderList; track gender.value) {
          <option [value]="gender.value">
            {{ gender.display }}
          </option>
          }
        </select>
      </div>
    </div>
    <!--Action Buttons-->
    <div class="row">
      <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 mb-2">
        <button class="btn btn-primary w-100" type="submit">
          <i class="bi bi-funnel"></i> Apply filters
        </button>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 mb-2">
        <button
          class="btn btn-info w-100"
          type="button"
          (click)="resetFilters()"
        >
          <i class="bi bi-arrow-clockwise"></i> Reset filters
        </button>
      </div>
    </div>
    <!--Sort Options-->
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-4 col-xl-4">
        <div
          class="d-flex justify-content-lg-start justify-content-md-start justify-content-sm-start"
        >
          <div class="btn-group w-100" role="group">
            <button
              class="btn btn-primary"
              type="button"
              name="orderBy"
              (click)="loadMembers()"
              btnRadio="lastActive"
              [(ngModel)]="memberService.userParams().orderBy"
            >
              <span class="d-done d-sm-inline"
                ><i class="bi bi-clock-history"></i> Last Active</span
              >
            </button>
            <button
              class="btn btn-primary"
              type="button"
              name="orderBy"
              (click)="loadMembers()"
              btnRadio="created"
              [(ngModel)]="memberService.userParams().orderBy"
            >
              <span class="d-done d-sm-inline">
                <i class="bi bi-clock-fill"></i>
                New Members</span
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!--Members grid-->
  <div class="row g-3 mt-3">
    @for(member of memberService.paginatedResult()?.items; track member.id){
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
      <app-member-card [member]="member" [showButtons]="true" />
    </div>
    }
  </div>

  <!--Pagination-->
  @if (memberService.paginatedResult()?.pagination) {
  <div class="row mt-4">
    <div class="col-12 d-flex justify-content-center">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="(memberService.paginatedResult()?.pagination)!.totalItems"
        [itemsPerPage]="
          (memberService.paginatedResult()?.pagination)!.itemsPerPage
        "
        (pageChanged)="pageChanged($event)"
        [(ngModel)]="memberService.paginatedResult()!.pagination!.currentPage"
        [maxSize]="10"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>
  </div>
  }
</div>
