.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}
img {
  max-height: 50px;
  max-width: 50px;
  display: inline;
}
a {
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;
  font-size: 1rem !important;
  color: white;
  font-weight: bold;
}

a:hover ,.dark-text:hover {
  background-color: white;
  color: #009688 !important;
  transform: scale(1.02);
  transition: 0.5s ease-in-out;
}
nav {
  background-color: rgb(184, 50, 61);
  box-shadow: 0 0 8px rgb(76, 76, 76);
}
.home-hover:hover {
  background-color: transparent !important;
  color: white !important;
}
